.body_background{
    background-image: url("class 81 image.jpg");
    background-size:cover;
    background-position: center;
}

#MYfirstcanvas{
    background-color:white;
    border-style: ridge;
    border-width: 10px;
}